* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#nav_bar1 {
  font-size: 14px;
  display: none;
  color: white;
  background-color: #131313;
  width: 100%;
  height: 32px;
  justify-content: space-between;
  align-items: center;
}

.nav-bar1_links {
  font-size: 13px;
}

.nav-bar2_links {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

#nav_bar1 > div > a {
  color: rgb(201, 196, 196);
  text-decoration: none;
  margin-left: 7px;
}

#nav_bar2 {
  display: none;
  justify-content: space-between;
  grid-template-columns: 50% 37% 3%;
  width: 100%;
  height: 48px;
  background-color: #fff;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 50;
}

#nav_bar2 > div {
  width: 100%;
  height: 100%;
}

#nav_bar2_cont {
  display: inline-flex;
  align-items: center;
}

#nav_bar2 > div > a {
  color: rgb(201, 196, 196);
  text-decoration: none;
  margin-left: 7px;
}

#nav_bar3 {
  display: inherit;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: #fff;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 50;
}

#nav_bar_logo {
  background-color: black;
  display: grid;
  color: white;
  align-items: center;
  justify-content: center;
}

#nav_bar3 > div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#nav_bar3 > div > div {
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Media Querry */

/* Tablet size */

@media only screen and (min-width: 768px) {
  #nav_bar1 {
    display: flex;
  }

  #nav_bar2 {
    grid-template-columns: 80% 15% 5%;
    display: grid;
  }

  #nav_bar3 {
    display: none;
  }
}

/* desktop media querry */

@media only screen and (min-width: 1024px) {
  #nav_bar1 {
    display: flex;
  }

  #nav_bar2 {
    display: grid;
  }

  #nav_bar3 {
    display: none;
  }
}
